<div class="modal fade" id="formulas-help" tabindex="-1" role="dialog" aria-labelledby="formulasHelp" aria-hidden="true">
  <div class="modal-dialog" style="width:900px">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
          <h3>Formulas help</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning">
          <h3>Formulas &nbsp;&nbsp;<small><em>help for excel-like formulas</em></small></h3>
          <ul>
            <li>
              <a href="http://handsontable.github.io/RuleJS/" target="_blank">
                <span class="glyphicon glyphicon-link" title="web link"></span>
                RuleJS
              </a>
            </li>
            <li>
              <a href="https://github.com/handsontable/handsontable-RuleJS" target="_blank">
                <span class="glyphicon glyphicon-link" title="web link"></span>
                handsontable-RuleJS
              </a>
            </li>
          </ul>
        </div>
      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
